<!-- ================ Start Header Area ================= -->
<header class="default-header">
    <app-navbar></app-navbar>
  </header>
  <!-- ================ End Header Area ================= -->
  
  <!-- ================ start banner Area ================= -->
  <section class="banner-area">
    <app-banner></app-banner>
  </section>
  <!-- ================ End banner Area ================= -->
  
  <!-- ================ Start Feature Area ================= -->
  <section class="feature-area">
    <app-feature-area></app-feature-area>
  </section>
  <!-- ================ End Feature Area ================= -->
  